# EmailJS Configuration
# 1. Sign up at https://www.emailjs.com/
# 2. Create an Email Service (Gmail, Outlook, etc.) and copy the Service ID
# 3. Create two Email Templates:
#    - Main template (receives the message from the contact form)
#    - Auto-reply template (sends a thank-you to the person who filled the form)
#    Your main template should include these variables:
#      {{from_name}}, {{from_email}}, {{subject}}, {{message}}, {{to_name}}
#    Your auto-reply template should include:
#      {{from_name}}, {{from_email}}, {{subject}}, {{message}}, {{to_name}}
# 4. Copy your Public Key from Account > API Keys

VITE_EMAILJS_PUBLIC_KEY=your_public_key_here
VITE_EMAILJS_SERVICE_ID=your_service_id_here
VITE_EMAILJS_TEMPLATE_ID=your_main_template_id_here
VITE_EMAILJS_AUTO_REPLY_TEMPLATE_ID=your_auto_reply_template_id_here
